@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --text-size: 15px;
    /*box*/
    --box-width: 300px;
    --box-height: 300px;
}

body {
 display: block;
 overflow-x: hidden;
}

.cards {
 width: 100vw;
 height: 90vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.box {
 width: var(--box-width);
 height: var(--box-height);
 padding: 1em 1em 5em 1em;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.box img, .box span .box p, .box button {
 margin-left: 20%;
}

.box span {
 font-size: 30px;
 margin: 10px 0 0 20%;
 color: #fff;
 font-family: 'Big Shoulders Display';
 text-transform: uppercase;
}

.box p {
 width: 70%;
 font: 400 var(--text-size) 'Lexend Deca';
 color: #fff;
 margin: 20px 0 5em 20%;
}

.box button {
 padding: 12px 20px;
 border: none;
 border-radius: 20px;
 background-color: white;
 font-family: 'Lexend Deca';
 cursor: pointer;
 transition: 0.3s;
 width: 50%;
}

html .box button:hover {
 background-color: transparent;
 color: #fff;
 padding: 15px 20px;
 border: 2px solid #fff;
 border-radius: 30px;
}

.box.sedan button {
 color: hsl(31, 77%, 52%);
}

.box.suv button {
 color: hsl(184, 100%, 22%);
}

.box.luxury button {
 color: hsl(179, 100%, 13%);
}

.sedan {
 background: hsl(31, 77%, 52%);
 border-radius: 10px 0 0 10px;
}

.suv {
 background: hsl(184, 100%, 22%);
}

.luxury {
 background: hsl(179, 100%, 13%);
 border-radius: 0 10px 10px 0;
}

.attribution { 
 font-size: 11px;
 text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }


@media (min-width: 275px) and (max-width: 740px) {
    :root {
        --text-size: 12px;
        /*box*/
        --box-width: 200px;
        --box-height: 300px;
    }

    body {
        margin: 35em 0 25em;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .sedan {
        border-radius: 10px 10px 0 0;
    }

    .box button {
        margin-left: 1em;
    }

    .box button {
        width: 90%;
    }

    .luxury {
        border-radius: 0 0 10px 10px;
    }

    .attribution {
        position: absolute;
        top: 250%;
        left: 50%;
        transform: translate(-50%);
    }

}